# zsh or bash will source these on startup to set up your git env
export GITHUB_USER="__GITHUB_USER__"

export GIT_AUTHOR_NAME="__GIT_NAME__"
export GIT_COMMITTER_NAME="__GIT_NAME__"

export GIT_AUTHOR_EMAIL="__GIT_EMAIL__"
export GIT_COMMITTER_EMAIL="__GIT_EMAIL__"

