[alias]
  br   = branch
  ci   = commit -v
  co   = checkout
  di   = diff
  diw  = diff --word-diff
  l    = log --color --graph --pretty=format:'%Cblue%h%Creset -%C(yellow)%d%Creset %s %Cgreen%cr %C(white)%an' --abbrev-commit
  st   = status
  undo = reset --soft HEAD^
  up   = pull --rebase
  url  = "!sh -c 'curl -i http://git.io -F url = $1' -"
  wup  = log -p origin..@{0}
[branch]
  autosetuprebase = always
[core]
  quotepath    = false
  excludesfile = ~/.gitignore-global
[help]
  autocorrect = 1
[push]
  default = simple
[rerere]
	enabled = 1
[user]

[diff]
  tool = better-vimdiff
[difftool]
  prompt = false
[merge]
  tool          = better-vimdiff
[mergetool "better-vimdiff"]
  cmd           = better-vimdiff vim $BASE $LOCAL $REMOTE $MERGED
  trustExitCode = true
  keepBackup    = false
[mergetool "ediff"]
  cmd           = ediff $BASE $LOCAL
  keepBackup    = false

[color]
  branch    = auto
  diff      = auto
  status    = auto
  ui        = true
[color "branch"]
  current   = yellow reverse
  local     = yellow
  remote    = green
[color "diff"]
  meta      = cyan bold
  frag      = white
  old       = red
  new       = green
[color "status"]
  added     = yellow
  changed   = green
  untracked = cyan

