[alias]
  br   = branch
  ci   = commit -v
  co   = checkout
  di   = diff
  l    = log --color --graph --pretty=format:'%Cblue%h%Creset -%C(yellow)%d%Creset %s %Cgreen%cr %C(white)%an' --abbrev-commit
  st   = status
  undo = reset --soft HEAD^
  up   = pull --rebase
  url  = "!sh -c 'curl -i http://git.io -F url = $1' -"
  wup  = log -p origin..@{0}
[branch]
  autosetuprebase = always
  autosetupmerge = always
[core]
  quotepath = false
  excludesfile = ~/.gitignore-global
[github]
  user = jm3
[help]
  autocorrect = 1
[push]
  default = simple
[user]
  name = John Manoogian III
  email = jm3@jm3.net

[diff]
  tool = better-vimdiff
[difftool]
  prompt = false
[merge]
  tool = better-vimdiff
[mergetool "changes"]
  cmd = ~/bin/changes --wait $BASE $LOCAL
[mergetool "better-vimdiff"]
  cmd = better-vimdiff vim $BASE $LOCAL $REMOTE $MERGED
  trustExitCode = true
  keepBackup    = false

[color]
  ui = true
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = cyan bold
  frag = white
  old = red
  new = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
