# don't version these
/bin/unversioned/*
/dots/.config/fish/fish_history
/dots/.config/fish/fishd.*
/dots/.config/mkvtoolnix/
/dots/.git-vars
/dots/.mutt/account.*
/dots/.mutt/cache
/dots/.mutt/certificates
/dots/.rvm
/dots/.vim/.netrwhist
/dots/.vim/bundle
/dots/.vim/doc
/dots/.vim/plugin
/dots/.vim/ruby
/dots/.vim/spell/*.spl
/osx/st2/Base File.sublime-settings
/osx/st2/Gist.sublime-settings
/osx/st2/Global.sublime-settings
/osx/st2/Package Control.last-run
/osx/st2/Side Bar.sublime-settings
/osx/st3/Package Control.last-run
/osx/st3/Package Control.system-ca-bundle

# ignore everything in ssh but config
/dots/.ssh/*
!/dots/.ssh/config

# ignore compiled files
/osx/st2/*.pyc
/osx/st2/*.cache

